@use './partials/variables' as *;
@use './partials/mixins' as *;
// Global Rulesets
*, *::before, *::after {
    @include boundary-reset;
    font-family: $font-family;
    font-size: $font-size-html;
    font-weight: normal;
    color: $text-paragraph;
} 
.header {
    display: flex;
    flex-direction: column;
}
// Header Navigation
.nav {
    background-color: $nav-background;
    width: 100%;
    height: 8rem;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
// Navigation Logo Anchor Boundary
    &__logo {
        margin-top: 1.3rem;
        width: 12rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
// Navigation Container Excluding Logo
    &__list {
        margin-top: 1.6rem;
        height: 2.7rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
// Navigation Link & States 
    &__link {
        text-decoration: none;
        height: 100%;
        width: 16rem;
        font-size: 1.4rem;
        color: $text-label;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        &:hover, &-current {
            color: $white;
            font-weight: 600;
            border-bottom: $white solid 0.4rem;
        }
    }
// Tablet Navigation Queries
    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 3.125vw;

        &__logo {
            margin-top: 0;
        }
    
        &__list {
            margin-top: 0;
            padding-top: 1rem;
            height: 8rem;
            width: fit-content;
        }
    
        &__link {
            margin-left: 5.6rem;
            width: 8rem;
            align-items: center;
        }
    }
// Transition Queries to Smooth Tablet into Desktop Layout
    @include tablet-desktop-transition(1152px) {
        box-sizing: unset;
        align-self: center;
        width: 108rem;
        padding: 0 100%;
    }
// Desktop Navigation Queries
    @include desktop {
        box-sizing: border-box;
        align-self: flex-start;
        width: 100%;
        padding: 0 7.8125vw;
    }
}
// Spacer To Position Content Beneath Nav
.spacer {
    height: 8rem;
}
// Hero Banner Background & Container
.hero {
    background-image: url("../assets/images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 57.1875vw $hero-overlay;
    padding: 0 5vw;
    height: 57.1875vw;
    width: 100%;
    display: flex;
    align-items: center;
// Hero Banner Heading
    &__title {
        color: $white;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 3.2rem;
        width: 20.5rem;
    }
// Tablet Hero Banner Queries
    @include tablet {
        height: 52.08333333vw;
        box-shadow: inset 52.08333333vw $hero-overlay;
        padding: 0 3.125vw;

        &__title {
            font-size: 6rem;
            width: 51rem;
            line-height: 6.8rem;
        }
    }
// Transition Queries to Smooth Tablet into Desktop Layout
    @include tablet-desktop-transition(1152px) {
        justify-content: center;

        .wrapper {
            width: 108rem;
        }
    }
// Desktop Hero Banner Queries
    @include desktop {
        height: 52.34375vw;
        box-shadow: inset 52.34375vw $hero-overlay;
        padding: 0 7.8125vw;
        justify-content: flex-start;

        &__wrapper {
            width: 100%;
        }
    }
}
// Main Container Layout
.main {
    display: flex;
    padding: 3.2rem 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
// Tablet Main Queries
    @include tablet {
        padding: 4.8rem 3.125vw 4rem;
    }
// Desktop Main Queries
    @include desktop {
        padding: 4.8rem 7.8125vw 4rem;
    }
}
// Biography Section Card Container Including Image
.biography-card {
    width: 100%;
// Card Heading
    &__title {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: bold;
    }
// Card Image
    &__image {
        margin: 2.4rem 0;
        width: 90vw;
        height: 45.3125vw;
    }
// Card Quote
    &__text {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.4rem;
        width: 90vw;
// Card Quote Speaker
        &-speaker {
            font-size: 1.4rem;
            line-height: 2.2rem;
            margin-top: 3.2rem;
        }
    }
// Tablet Biography Card Queries
    @include tablet {
        width: 100%;

        &__title {
            font-size: 3.6rem;
            line-height: 4.4rem;
            height: 3.6rem;
        }

        &__image {
            margin: 4.8rem 0;
            width: 93.75vw;
            height: 47.1354166vw;
        }

        &__text {
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 3.2rem;
            width: 93.75vw;

            &-speaker {
                margin-top: 4rem;
                font-size: 1.6rem;
                line-height: 2.4rem;
                font-weight: 600;
            }
        }
    }
// Transition Queries to Smooth Tablet into Desktop Layout
    @include tablet-desktop-transition(955.7333px) {
        display: flex;
        flex-direction: column;

        &__image {
            width: 89.6rem;
            height: 45rem;
            align-self: center;
        }

        &__text {
            width: 89.6rem;
            align-self: center;
        }
    }
// Transition Queries to Smooth Tablet into Desktop Layout
@include tablet-desktop-transition(1152px) {
    &__title {
    width: 108rem;
    align-self: center;
    }
}
// Desktop Biography Card Queries
    @include desktop {
        &__title {
            align-self: flex-start;
        }

        &__image {
            width: 70vw;
            height: 35.15625vw;
        }

        &__text {
            width: 70vw;
            align-self: center;
        }
    }
}
// Written Biography Section
.biography {
    margin: 4rem 0;
    width: 90vw;
// Biography Heading
    &__title {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 600;
    }
// Biography Paragraphs
    &__text {
        font-size: 1.2rem;
        width: 89.75vw;
        line-height: 2rem;

        &--margin {
            margin: 2.4rem 0;
        }  
    }
// Transition Queries to Smooth Mobile into Tablet Layout
    @include mobile-tablet-transition(658px) {
        &__content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
        }

        &__text {
            width: 43.7689969vw;

            &:last-of-type{
                margin-left: 2.4316109vw;
            }
        }
    }
// Tablet Biography Queries
    @include tablet {
        margin: 5.6rem 0 4.8rem;
        width: 93.75vw;

        &__title {
            display: flex;
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: bold;
        }

        &__text {
            font-size: 1.4rem;
            width: 44.921875vw;
            line-height: 2.2rem;

            &:last-of-type{
                margin-left: 3.125vw;
            }
        }
    }
// Transition Queries to Smooth Tablet into Desktop Layout
    @include tablet-desktop-transition(955.7333px){
        width: 89.6rem;

        &__text {
            width: 42rem;
        
            &:last-of-type{
                margin-left: 2.4rem;
            }
        }
    }
// Desktop Biography Queries
    @include desktop {
        width: 70vw;

        &__text {
            width: 32.8125vw;
        }
    }
}
// Photo Gallery Section
.gallery {
    margin-top: 3.2rem;
    width: 90vw;
// Gallery Heading
    &__title {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
    }
// Gallery Photos & Photo States
    &__image {
        margin-top: 1.6rem;
        width: 90vw;
        height: 50.625vw;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0);
        }
    }
// Transition Queries to Smooth Mobile into Tablet Layout
    @include mobile-tablet-transition(658px){
        &__content {
            display: flex;
            flex-wrap: wrap;
        }

        &__image {
            width: 43.7689969vw;
            height: 24.62006079vw;

            &:nth-of-type(2n) {
                margin-left: 2.4316109vw;
            }
        }
    }
// Tablet Gallery Queries
    @include tablet {
        margin-top: 4.8rem;
        width: 93.75vw;

        &__title {
            font-size: 3.6rem;
            line-height: 4.4rem;
            margin-bottom: 4rem;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
        }

        &__image {
            margin-top: 2.4rem;
            width: 29.166666vw;
            height: 16.40625vw;

            &:nth-of-type(2n) {
                margin-left: 0;
            }

            &:nth-of-type(3n+2), &:nth-of-type(3n+3) {
                margin-left: 3.125vw;
            }
        }
    }
// Transition Queries to Smooth Tablet into Desktop Layout
    @include tablet-desktop-transition(1152px) {
        width: 108rem;

        &__image {
            width: 34.4rem;
            height: 19.3rem;
        
            &:nth-of-type(3n+2), &:nth-of-type(3n+3) {
                margin-left: 2.4rem;
            }
        }
    }
// Desktop Gallery Queries
    @include desktop {
        width: 84.375vw;

        &__image {
            width: 26.875vw;
            height: 15.078125vw;

            &:nth-of-type(3n+2), &:nth-of-type(3n+3) {
                margin-left: 1.875vw;
            }
        }
    }
}
// Footer Info Section
.footer {
    background-color: $nav-background;
    width: 100%;
    padding: 4.8rem 5vw;
    display: flex;
    flex-direction: column;
// Social Media Banner
    .connect {
        height: 3.6rem;
        margin-bottom: 3.2rem;
// Get In Touch Heading
        &__title {
            height: 3.6rem;
            font-size: 3.6rem;
            line-height: 4.4rem;
            font-weight: bold;
            color: $white;
            margin-bottom: 1.8rem;
        }
// Social Media Icon Links
        &-social {
            height: 2rem;
            display: flex;

            &__link {
                height: 100%;

                &--margin {
                    margin: 0 3.2rem;
                }

                &-icon {
                    height: 100%;
                }
            }
        }
// Logo Mobile Hidden Condition
        .logo {
            display: none;
        }
    }
// Contact Cards Container
    &__card {
        display: flex;
        flex-wrap: wrap;
// Contact Cards
        .info-card {
            width: 22.4rem;
// Card Owner and Company
            &__title {
                width: 19.26rem;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 2.2rem;
                color: $white;

                &--margin {
                    margin-top: 2.4rem;
                }
            }
// Card Location 
            &__description {
                font-size: 1.2rem;
                line-height: 2rem;
                color: $white;
    
                &--margin {
                    margin-top: 2.4rem;
                }
            }
// Card Email  
            &__contact {
                margin-top: 2.4rem;
                font-size: 1.2rem;
                line-height: 2rem;
                color: $white;
            }
        }
    }
// Copyright Section
    .copyright {
        margin-top: 4rem;
        width: 19.26rem;
//  Copyright Info Statement
        &__description {
            font-size: 1.2rem;
            line-height: 2rem;
            color: $white;
        }
    }
// Transition Queries to Unwrap Copyright for New Spacing
    @include mobile-tablet-transition(328px) {
        .copyright {
            width: 29.6rem;
        }
    }
// Transition Queries to Unwrap Social Section Links
    @include mobile-tablet-transition(410px) {
        .connect {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: flex-start;
            margin-bottom: 3.2rem;

            &__title {
                margin-bottom: 0;
            }

            &-social {
                margin-top: 2.4rem;
                margin-left: 3rem;
                margin-top: 0;
            }
        }
    }
// Tablet Footer Queries
    @include tablet {
        padding: 4.8rem 3.125vw;

        .connect {
            display: flex;
            flex-wrap: unset;
            align-items: baseline;
            justify-content: flex-start;

            &__title {
                width: 25.2rem;
            }

            &-social {
                margin-left: 2.4rem;
            }

            .logo {
                display: flex;
                margin-left: auto;
            }
        }

        &__card {
            display: flex;
            margin-top: 2.4rem;

            .info-card {
                width: 22.4rem;
    
                &--margin-left {
                        margin-left: 2.4rem;
                    }
                
                &__title {
                    width: 22.4rem;
                    font-size: 1.6rem;
                    line-height: 2.4rem;

                    &--margin {
                        margin-top: 0;
                    }
                }

                &__description {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }

                &__contact {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
        }

        .copyright {
            &__description {
                font-size: 1.4rem;
                line-height: 2rem;
                width: 34.8rem;
            }
        }
    }
// Transition Queries to Smooth Tablet into Desktop Layout
    @include tablet-desktop-transition(1152px) {
        align-items: center;

        .connect {
             width: 108rem;
        }

        &__card {
            width: 108rem;
        }

        .copyright {
            width: 108rem;
        }
        
    }
// Desktop Footer Queries
    @include desktop {
        padding: 4.8rem 7.8125vw;
        align-items: flex-start;

        .connect {
            width: 100%;
        }

        &__card {
            width: 100%;
            .info-card {
                width: 25.2rem;
            }
        }

        .copyright {
            &__description {
                width: 36.8rem;
            }
        }
    }
}