@use './partials/variables' as *;
@use './partials/mixins' as *;

*, *::before, *::after {
    @include boundary-reset;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size-html;
    font-weight: normal;
}

.nav {
    background-color: $nav-background;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__logo {
        margin-top: 1.3rem;
        width: 12rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list {
        margin-top: 1.6rem;
        height: 2.7rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__link {
        text-decoration: none;
        height: 100%;
        width: 16rem;
        font-size: 1.4rem;
        color: $text-label;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        &:hover{
            color: $white;
            font-weight: 600;
            border-bottom: $white solid 0.4rem;
        }
    }
}

.hero {
    background-image: url("../assets/images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 2000px $hero-overlay;
    padding: 0 1.6rem;
    height: 18.3rem;
    width: 100%;
    display: flex;
    align-items: center;

    &__title {
        color: $white;
        font-size: 2.4rem;
        font-weight: bold;
        width: 20.5rem;
    }
}

.gallery__image {
    width: 28.8rem;
    height: 16.2rem;
}