@use './partials/variables' as *;
@use './partials/mixins' as *;

*, *::before, *::after {
    @include boundary-reset;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size-html;
    font-weight: normal;
    color: $text-paragraph;
}

.nav {
    background-color: $nav-background;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__logo {
        margin-top: 1.3rem;
        width: 12rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list {
        margin-top: 1.6rem;
        height: 2.7rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__link {
        text-decoration: none;
        height: 100%;
        width: 16rem;
        font-size: 1.4rem;
        color: $text-label;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        &:hover, &-current {
            color: $white;
            font-weight: 600;
            border-bottom: $white solid 0.4rem;
        }
    }

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 3.125vw;

        &__logo {
            margin-top: 0;
        }
    
        &__list {
            margin-top: 0;
            padding-top: 1rem;
            height: 8rem;
            width: fit-content;
        }
    
        &__link {
            margin-left: 5.6rem;
            width: 8rem;
            align-items: center;
        }

    }

    @include desktop {
        padding: 0 7.8125vw;
    }

}

.hero {
    background-image: url("../assets/images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 57.1875vw $hero-overlay;
    padding: 0 5vw;
    height: 57.1875vw;
    width: 100%;
    display: flex;
    align-items: center;

    &__title {
        color: $white;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 3.2rem;
        width: 20.5rem;
    }

    @include tablet {
        height: 52.08333333vw;
        box-shadow: inset 52.08333333vw $hero-overlay;
        padding: 0 3.125vw;

        &__title {
            font-size: 6rem;
            width: 51rem;
            line-height: 6.8rem;
        }
    }

    @include desktop {
        height: 52.34375vw;
        box-shadow: inset 52.34375vw $hero-overlay;
        padding: 0 7.8125vw;

    }
}

.main {
    display: flex;
    padding: 3.2rem 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet {
        padding: 4.8rem 3.125vw 4rem;
    }

    @include desktop {
        padding: 4.8rem 7.8125vw 4rem;
    }
}

.biography-card {
    width: 100%;

    &__title {
        font-size: 2.4rem;
        font-weight: bold;
        
        @include tablet {
            font-size: 3.6rem;
            height: 3.6rem;
        }
    }

    &__image {
        margin: 2.4rem 0;
        width: 90vw;
        height: 45.3125vw;

        @include tablet {
            margin: 4.8rem 0;
            width: 93.75vw;
            height: 47.1354166vw;
        }

        @include tablet-desktop-transition(955.7333px){
            width: 89.6rem;
            height: 45rem;
            align-self: center;
        }

        @include desktop {
            width: 70vw;
            height: 35.15625vw;
        }
    }

    &__text {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.4rem;
        width: 90vw;

        @include tablet {
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 3.2rem;
            width: 93.75vw;
        }

        @include tablet-desktop-transition(955.7333px){
            width: 89.6rem;
            align-self: center;
        }

        @include desktop {
            width: 70vw;
            align-self: center;
        }

        &-speaker {
            font-size: 1.4rem;
            margin-top: 3.2rem;

            @include tablet {
                margin-top: 4rem;
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }

    @include tablet {
        width: 100%;
    }

    @include tablet-desktop-transition(955.7333px) {
        display: flex;
        flex-direction: column;
    }
}

.biography {
    margin: 4rem 0;
    width: 90vw;

    &__title {
        font-size: 1.6rem;
        font-weight: 600;

        @include tablet {
            display: flex;
            font-size: 2.4rem;
            font-weight: bold;
        }
    }

    &__content {
        
        @include mobile-tablet-transition(658px){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &__text {
        font-size: 1.2rem;
        width: 90vw;
        line-height: 2rem;


        @include mobile-tablet-transition(658px){
            width: 43.7689969vw;
            &:last-of-type{
                margin-left: 2.4316109vw;
            }
        }
        

        @include tablet {
            font-size: 1.4rem;
            width: 44.921875vw;
            line-height: 2.2rem;

            &:last-of-type{
                margin-left: 3.125vw;
            }
        }

        @include tablet-desktop-transition(955.7333px){
            width: 42rem;
        
            &:last-of-type{
                margin-left: 2.4rem;
            }
        }

        @include desktop {
            width: 32.8125vw;
        }

        &--margin {
            margin: 2.4rem 0;
        }  
    }

    @include tablet {
        margin: 5.6rem 0 4.8rem;
        width: 93.75vw;
    }
    
    @include tablet-desktop-transition(955.7333px){
        width: 89.6rem;
    }

    @include desktop {
        width: 70vw;
    }
}

.gallery {
    margin-top: 3.2rem;
    width: 90vw;

    &__title {
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 0.8rem;

        @include tablet {
            font-size: 3.6rem;
            margin-bottom: 4rem;
        }
    }

    &__content {

        @include mobile-tablet-transition(658px){
            display: flex;
            flex-wrap: wrap;
        }
    
        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__image {
        margin-top: 1.6rem;
        width: 90vw;
        height: 50.625vw;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0);
        }

        @include mobile-tablet-transition(658px){
            width: 43.7689969vw;
            height: 24.62006079vw;

            &:nth-of-type(2n) {
                margin-left: 2.4316109vw;
            }
        }

        @include tablet {
            margin-top: 2.4rem;
            width: 29.166666vw;
            height: 16.40625vw;

            &:nth-of-type(2n) {
                margin-left: 0;
            }

            &:nth-of-type(3n+2), &:nth-of-type(3n+3) {
                margin-left: 3.125vw;
            }
        }

        @include desktop {
            width: 26.875vw;
            height: 15.078125vw;

            &:nth-of-type(3n+2), &:nth-of-type(3n+3) {
                margin-left: 1.875vw;
            }
        }
    }

    @include tablet {
        margin-top: 4.8rem;
        width: 93.75vw;
    }

    @include desktop {
        width: 84.375vw;
    }
}

.footer {
    background-color: $nav-background;
    width: 100%;
    padding: 4.8rem 5vw;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 4.8rem 3.125vw;
    }

    @include desktop {
        padding: 4.8rem 7.8125vw;
    }

    .connect {
        position: relative;
        height: 3.6rem;
        margin-bottom: 3.2rem;
        display: flex;
        flex-wrap: wrap;
        
        @include mobile-tablet-transition(410px){
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: flex-start;
            margin-bottom: 3.2rem;
        }

        @include tablet {
            display: flex;
            flex-wrap: unset;
            align-items: baseline;
            justify-content: flex-start;
        }


        &__title {
            height: 3.6rem;
            font-size: 3.6rem;
            font-weight: bold;
            color: $white;
            margin-bottom: 1.8rem;

            @include mobile-tablet-transition(410px) {
                margin-bottom: 0;
            }

            @include tablet {
                width: 25.2rem;
            }

        }

        &-social {
            height: 2rem;
            display: flex;

            @include mobile-tablet-transition(410px) {
                margin-top: 2.4rem;
                margin-left: 3rem;
                margin-top: 0;
            }

            @include tablet {
                margin-left: 2.4rem;
            }


            &__link {
                height: 100%;

                &--margin {
                    margin: 0 3.2rem;
                }

                &-icon {
                    height: 100%;
                }
            }
        }

        .logo {
            display: none;

            @include tablet {
                display: block;
                position: absolute;
                bottom: 0.5rem;
                right: 0;
            }
        }
    }

    &__card {
        display: flex;
        flex-wrap: wrap;

        @include tablet {
            display: flex;
            margin-top: 2.4rem;
        }


        .info-card {

            width: 22.4rem;

            &__title {
                width: 19.26rem;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 2.2rem;
                color: $white;

                &--margin {
                    margin-top: 2.4rem;
                }

                @include tablet {
                    width: 22.4rem;
                    font-size: 1.6rem;
                    line-height: 2.4rem;

                    &--margin {
                        margin-top: 0;
                    }
                }
    
            }
    
            &__description {
                font-size: 1.2rem;
                line-height: 2rem;
                color: $white;

                @include tablet {
                    font-size: 1.4rem;
                }
    
                &--margin {
                    margin-top: 2.4rem;
                }
            }
    
            &__contact {
                margin-top: 2.4rem;
                font-size: 1.2rem;
                color: $white;

                @include tablet {
                    font-size: 1.4rem;
                }
            }
    
            @include tablet {
                width: 22.4rem;

                &--margin-left {
                    margin-left: 2.4rem;
                }
            }

            @include desktop {
                width: 25.2rem;
            }
        }
    }
    

    .copyright {
        margin-top: 4rem;
        width: 19.26rem;

        &__description {
            font-size: 1.2rem;
            color: $white;

            @include mobile-tablet-transition(328px) {
                width: 29.6rem;
            }

            @include tablet {
                font-size: 1.4rem;
                width: 34.8rem;
            }

            @include desktop {
                width: 36.8rem;
            }
        }
    }
}
