@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/nav-mixins' as *;

// Global Rule-set
*, *::before, *::after {
    @include boundary-reset;
    @include font-stack;
    color: $color-text-base;
}

// Header Display 
.header {
    @include flexing(flex, column, initial, initial, initial, initial);
}

// Header Navigation
    @include nav-mobile;

// Spacer To Position Content Beneath Nav
.spacer {
    width: 100%;
    height: 8rem;
}

// Hero Banner Background & Container

.hero {
    @include flexing(flex, column, initial, initial, initial, space-between);
    background-image: url("../assets/images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: calc(6.4rem + (32 / 448) * (100vw - 32rem)) calc(1.6rem + (8 / 448) * (100vw - 32rem));
    height: calc(47.2rem + (198 / 448) * (100vw - 32rem));
    width: 100%;
    z-index: 0;

    // Hero Banner Subheading
    &__subtitle {
        color: $color-heading-alternate;
        font-size: calc(#{$font-size-mobile-mdparagraph} + (10 / 448) * (100vw - 320px)); 
        font-weight: 600;
        line-height: calc(#{$line-height-fs14px} + (10 / 448) * (100vw - 320px));
        width: 100%;
        position: relative;
        z-index: 10;
    }

    // Hero Banner Heading
    &__title {
        color: $color-heading-alternate;
        font-size: calc(#{$font-size-desktop-lgheading} + (24 / 448) * (100vw - 32rem));
        font-weight: bold;
        line-height: calc(#{$line-height-fs36px} + (24 / 448) * (100vw - 32rem));
        width: calc(28.8rem + (241 / 448) * (100vw - 32rem));
        position: relative;
        z-index: 10;
    }

    &__song {
        width: calc(288px + (148 / 448) * (100vw - 320px));
        height: calc(116px + (30 / 448) * (100vw - 320px));
        position: relative;
        z-index: 10;
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: $color-overlay;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

// Shows Section
.shows {
    @include flexing(flex, column, initial, initial, initial, initial);
    width: 100%;
    padding: 3.2rem calc(1.6rem + (8 / 448) * (100vw - 32rem)) 4rem;


    &__title {
        font-size: calc(#{$font-size-mobile-lgheading} + (12 / 448) * (100vw - 32rem));
        line-height: $line-height-fs24px;
        font-weight: bold;
        margin-bottom: 2.4rem;
        width: 27.6rem;
    }

    &__header {
        display: none;
    }

    &__cards {
        @include flexing(flex, initial, wrap, initial, initial, center);
        width: 100%;

        .card{
            @include flexing(flex, column, initial, initial, initial, initial);
            width: calc(28.8rem - ( 128 / 448) * (100vw - 32rem));  
            border-bottom: 0.1rem solid #E1E1E1;
            padding: 1.6rem 0;
            margin: 0 0.8rem;

            .venue {
                @include flexing(flex, column, initial, initial, initial, initial);
                height: 10rem;
            }

            .location {
                @include flexing(flex, column, initial, initial, initial, initial);
                height: 10rem;
            }

            &__label {
                font-size: $font-size-mobile-smparagraph;
                line-height: $line-height-fs12px;
                font-weight: 600;
                color: $color-text-label;
                margin-bottom: 1.6rem;
                width: 16rem;
            }

            &__text-title {
                font-size: $font-size-mobile-mdparagraph;
                line-height: $line-height-fs14px;
                font-weight: 600;
                margin-bottom: 2.4rem;
                width: 16rem;
            }

            &__text-title-alt {
                width: 100%;
            }

            &__text {
                font-size: $font-size-mobile-smparagraph;
                line-height: $line-height-fs12px;
                margin-bottom: 2.4rem;
                width: 16rem;
            }

            .button {
                @include flexing(flex, initial, initial, center, initial, center);
                border-radius: 0.4rem;
                border-style: none;
                background-color: $color-background-alternate;
                color: $color-white;
                font-size: $font-size-mobile-mdparagraph;
                line-height: $line-height-fs14px;
                font-weight: 600;
                width: calc(28.8rem - ( 128 / 448) * (100vw - 32rem));
                height: 4.8rem;
                cursor: pointer;
                outline-style: none;
            }

            .button-alt {
                @extend .button;
            }

            .button:hover {
                background-color: $color-black;
            }

            .button-alt:hover {
                background-color: $color-black;
            }
        }
    }
}

// Footer Info Section
.footer {
    @include flexing(flex, column, initial, initial, initial, initial);
    background-color: $color-background-alternate;
    width: 100%;
    padding: 4.8rem calc(1.6rem + (8 / 448) * (100vw - 32rem));

    // Social Media Banner
    .connect {
        width: 100%;

    // Get In Touch Heading
        &__title {
            height: 3.6rem;
            font-size: $font-size-desktop-lgheading;
            line-height: $line-height-fs36px;
            font-weight: bold;
            color: $color-heading-alternate;
            margin-bottom: 2.8rem;
        }

        // Social Media Icon Links
        &-social {
            @include flexing(flex, initial, initial, initial, initial, space-between);
            width: 12.4rem;
            height: 2rem;
            margin-bottom: 2.8rem;

            &__link {
                width: 2rem;
                height: 2rem;

                &-icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        // Logo Mobile Hidden Condition
        .logo {
            @include flexing(none, initial, initial, initial, initial, initial);
            width: 12rem;
            height: 2.4rem;
        }
    }

    // Contact Cards Container
    &__card {
        @include flexing(flex, initial, wrap, initial, initial, initial);
        width: 100%;
        margin-bottom: 1.6rem;

        // Contact Cards
        .info-card {
            width: 22.4rem;

            // Card Owner and Company
            &__title {
                font-size: $font-size-mobile-mdparagraph;
                font-weight: 600;
                line-height: $line-height-fs14px;
                color: $color-heading-alternate;

                &--margin {
                    margin-bottom: 2.4rem;
                }
            }

            // Card Location 
            &__description {
                font-size: $font-size-mobile-smparagraph;
                line-height: $line-height-fs12px;
                color: $color-text-alternate;

                &--margin {
                    margin-bottom: 2.4rem;
                }
            }

            // Card Email  
            &__contact {
                font-size: $font-size-mobile-smparagraph;
                line-height: $line-height-fs12px;
                color: $color-text-alternate;
                margin-bottom: 2.4rem;
            }
        }
    }

    // Copyright Section
    .copyright {
        width: 19.2rem;
        font-size: $font-size-mobile-smparagraph;
        line-height: $line-height-fs12px;
        color: $color-text-alternate;
    }
}

// Transition Queries to Unwrap Copyright for New Spacing
@include mobile-tablet-transition(328px) {
    .footer{
        .copyright {
            width: 100%;
        }
    }
}

// Transition Queries to Unwrap Social Section Links
@include mobile-tablet-transition(437px) {
    .footer {
        .connect {
            @include flexing(flex, initial, initial, baseline, initial, flex-start);
            margin-bottom: 5.6rem;

            &__title {
                margin-bottom: 0;
                width: 25.2rem;
            }

            &-social {
                margin-bottom: 0;
                margin-left: 2.4rem;
            }
        }
    }
}


// Transition Queries to Wrap Sections and Ease Mobile into Tablet Layout
@include mobile-tablet-transition(719px) {
    .footer {
        &__card {
            margin-bottom: 4rem;

            // Contact Cards
            .info-card {

                &--margin {
                    margin: 0 calc(0rem + (24 / 49) * (100vw - 71.9rem)) 0 calc(0rem + (24 / 49) * (100vw - 71.9rem));
                }
    
                // Card Email  
                &__contact {
                   margin-bottom: 0;
                }
            }
        }
    }
}

// Tablet Layout Queries
@include tablet {
    @include nav-tablet;

    .hero {
        padding: 9.6rem 2.4rem;
        height: 67rem;

        // Hero Banner Subheading
        &__subtitle {
            font-size: $font-size-desktop-smheading; 
            font-weight: bold;
            line-height: $line-height-fs24px;
            width: 57.6rem;
            margin-bottom: 4.8rem;
        }
    
        // Hero Banner Heading
        &__title {
            font-size: $font-size-desktop-hero;
            line-height: $line-height-fs60px;
            width: 57.6rem;
            margin-bottom: 4.8rem;
        }
    
        &__song {
            width: 43.6rem;
            height: 14.6rem;
        }
    }

    .shows {
        padding: 4.8rem 2.4rem 4rem;


        &__title {
            font-size: $font-size-desktop-lgheading;
            line-height: $line-height-fs36px;
            margin-bottom: 4rem;
        }

        &__header {
            @include flexing(flex, initial, initial, initial, initial, initial);
            width: calc(72rem + (84 / 320) * (100vw - 76.8rem));
            margin: 0 auto;
        }

        &__heading {
            width: calc(22.4rem + (52 / 320) * (100vw - 76.8rem));
            font-size: $font-size-mobile-smparagraph;
            line-height: $line-height-fs12px;
            font-weight: 600;
            color: $color-text-label;

            &-alt {
                width: calc(12.4rem + (36 / 320) * (100vw - 76.8rem));
                margin-right: 2.4rem;
            }
        }

        &__cards {
            @include flexing(flex, column, initial, initial, initial, initial);
            width: calc(72rem + (84 / 320) * (100vw - 76.8rem));
            margin: 0 auto;

            .card{
                @include flexing(flex, initial, initial, center, initial, initial);
                width: 100%;
                margin: 0;

                .venue {
                @include flexing(flex, initial, initial, center, initial, initial);
                    height: 6.6rem;
                }

                .location {
                @include flexing(flex, initial, initial, center, initial, initial);
                    height: 6.6rem;
                }
            
                &__label {
                    display: none;
                }

                &__text-title {
                    font-size: $font-size-desktop-lgparagraph;
                    line-height: $line-height-fs16px;
                    margin-bottom: 0rem;
                    width: calc(22.4rem + (52 / 320) * (100vw - 76.8rem));
                }

                &__text-title-alt {
                    width: 100%;
                }

                &__text {
                    font-size: $font-size-desktop-smparagraph;
                    line-height: $line-height-fs14px;
                    margin-bottom: 0rem;
                    width: calc(12.4rem + (36 / 320) * (100vw - 76.8rem));
                    margin-right: 2.4rem;
                }

                .button {
                    width: 16rem;
                    margin-left: auto;
                }
            }
        }
    }
    
    .footer {
        padding: 4.8rem 2.4rem;

        .connect {

            .logo {
                display: flex;
                margin-left: auto;
            }
        }

        &__card {

            .info-card {
                width:  calc(22.4rem + (28 / 360) * (100vw - 76.8rem));
    
                &--margin {
                        margin: 0 2.4rem;
                    }
                
                &__title {
                    font-size: $font-size-desktop-lgparagraph;
                    line-height: $line-height-fs16px;
                }

                &__description {
                    font-size: $font-size-desktop-smparagraph;
                    line-height: $line-height-fs14px-alt;
                }

                &__contact {
                    font-size: $font-size-desktop-smparagraph;
                    line-height: $line-height-fs14px-alt;
                }
            }
        }

        .copyright {
            font-size: $font-size-desktop-smparagraph;
            line-height: $line-height-fs14px-alt;
        }
    }
}

@include tablet-desktop-transition(1128px) {
    @include nav-desktop;

    .hero {
        @include flexing(flex, initial, wrap, flex-start, initial, initial);
        padding: 16rem calc(50% - 54rem) 22.6rem;

        &__title {
            margin-bottom: 0;
        }

        &__song {
            margin-left: 6.4rem;
            margin-top: 4rem;
        }
    }

    .shows {
        @include flexing(flex, initial, initial, initial, initial, initial);
        padding: 4.8rem calc(50% - 54rem) 4rem;

        &__header {
            width: 80.4rem;
        }

        &__heading {
            width: 27.6rem;
            
            &-alt {
                width: 16rem;
            }
        }

        &__cards {
            width: 80.4rem;

            .card{

                &__text-title {
                    width: 27.6rem;
                }

                &__text-title-alt {
                    width: 100%;
                }

                &__text {
                    width: 16rem;
                }
            }
        }
    }

    .footer {
        padding: 4.8rem calc(50% - 54rem);

        &__card {
            .info-card {
                width: 25.2rem;
            }
        }
    }
}